snippet imp "Default import packages" b
import static java.lang.System.*;
import java.lang.*;
import java.util.*;
import java.io.*;
import java.math.BigInteger;
import java.math.BigDecimal;
endsnippet

snippet main "Main function header" b
public class ${1:`!p snip.rv = snip.basename`} {
	public static void main(String[] args) {
		$2
	}
}
endsnippet

snippet syso "System.out.println" b
System.out.println($1)
endsnippet
